---
import Layout from "@layouts/Layout.astro";
import Footer from "@components/Footer.astro";
import { getCollection } from "astro:content";
import CTABanner from "@components/ui/CTABanner.astro";
import BlogCard from "@components/ui/BlogCard.astro";
import SectionHeader from "@components/ui/SectionHeader.astro";

const posts = (await getCollection("blog"))
  .sort((a, b) => new Date(b.data.pubDate).valueOf() - new Date(a.data.pubDate).valueOf());

const pageTitle = "Blog";
const pageDescription = "Tout comprendre sur le branding ou presque, sinon on ne sert à rien.";
---

<Layout title={pageTitle} description={pageDescription}>
  <main class="mx-auto max-w-[85rem] px-4 pt-16 pb-16">
    <div class="mx-auto max-w-3xl text-center mb-12">
      <SectionHeader 
        title={pageTitle} 
        level={1}
        size="xl" 
        align="center"
      />
      <p class="text-xl text-black mt-6">
        {pageDescription}
      </p>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      {posts.slice(0, 4).map((post) => (
        <BlogCard
          title={post.data.title}
          description={post.data.description}
          href={`/blog/${post.slug}`}
          imageUrl={post.data.image.url}
          imageAlt={post.data.image.alt}
        />
      ))}
    </div>
  </main>

  <CTABanner 
    title={"Votre partenaire de branding tout-en-un"}
    description="Contactez-nous pour discuter de votre projet et voir comment nous pouvons vous aider à créer une marque qui se démarque."
    buttonText="NOUS CONTACTER"
    buttonHref="/contact"
  />

  <Footer />
</Layout>
