---
import Layout from "@layouts/Layout.astro";
import Navigation from "@components/Navigation.astro";
import Footer from "@components/Footer.astro";
import { getCollection } from "astro:content";
import CTABanner from "@components/ui/CTABanner.astro";
import BlogCard from "@components/ui/BlogCard.astro";
import SectionHeader from "@components/ui/SectionHeader.astro";

const posts = (await getCollection("blog"))
  .sort((a, b) => new Date(b.data.pubDate).valueOf() - new Date(a.data.pubDate).valueOf());

const pageTitle = "Blog";
const pageDescription = "Tout comprendre sur le branding ou presque, sinon on ne sert à rien.";
---

<Layout title={pageTitle} description={pageDescription}>
  <Navigation />

  <main class="mx-auto flex max-w-[85rem] flex-col gap-12 px-4 pt-16 pb-16">
    <header class="mb-4 sm:mb-8">
      <SectionHeader 
        title={pageTitle} 
        level={1}
        size="xl" 
        align="left"
      />
      <p class="text-xl text-black pt-16">
        {pageDescription}
      </p>
    </header>

    <section aria-label="Articles" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 lg:gap-8">
      {posts.slice(0, 4).map((post) => (
        <BlogCard
          title={post.data.title}
          description={post.data.description}
          href={`/blog/${post.slug}`}
        />
      ))}
    </section>
  </main>

  <CTABanner 
    title={"Votre partenaire de branding tout-en-un"}
    description=""
    buttonText="CONTACTEZ-NOUS"
    buttonHref="/contact"
  />

  <Footer />
</Layout>
